 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="#">Book</a></h1>


    <nav id="navbar" class="navbar">
      <ul>
        <li><a  class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a [routerLink]="['/login']" routerLinkActive="router-link-active" class="nav-link scrollto" >Sign In</a></li>
        <li><a [routerLink]="['/signup']" routerLinkActive="router-link-active" class="nav-link scrollto" >Sign Up</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<div class="container-fluid">
  <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image"></div>


      <!-- The content half -->
      <div class="col-md-6 bg-light">
          <div class="login d-flex align-items-center py-5">

              <!-- Demo content-->
              <div class="container">
                  <div class="row">
                      <div class="col-lg-10 col-xl-7 mx-auto">
                          <h3 class="display-4">The Book !</h3><br><br>
                          <form [formGroup]="signin" >
                              <div class="form-group mb-3">
                                  <input id="inputEmail" formControlName="emailid" type="email" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                  <div class="text-danger" *ngIf="signin.controls.emailid.invalid && (signin.controls.emailid.dirty || signin.controls.emailid.touched)">
                                    Enter Valid Email
                                  </div>
                              </div>
                              <div class="form-group mb-3">
                                  <input id="inputPassword" type="password" formControlName="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                  <div >

                                  </div>
                              </div>
                              <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" (click)="onSubmit()" >Sign in</button><br>
                              <p class="text-muted font-weight-bold">New User ? <a routerLink="/signup" >Register</a></p>
                              <p class="text-muted font-weight-bold"><a routerLink="/forgetPass" >Forget Password ?</a></p>
                          </form>
                      </div>
                  </div>
              </div><!-- End -->

          </div>
      </div><!-- End -->
      <alert [position]="Position.TopCenter" [maxItems]="3" [isGlobal]="true" [queueAlerts]= "true"></alert>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
