@media screen and (max-width:600px){
  .contactlist{
    position: absolute;
    top:25%;
    visibility: none;
  }
  .searchbar{
    position: absolute;
    top:-2%;

  }
  .voice{
    position: absolute;
    top:25%;
    left:18rem;
  }
  .cloesicon{
    position: absolute;
    top:20%;
    left:18.2rem;
    width: 21px;
  }
  .reloadicon{
    position: absolute;
    top:19%;
    left:20.5rem;
  }
  .voiceicons{
    position: relative;
    left:8.5rem;
    top:1rem;
    color:#DEF1f2;
    font-size: 500;

  }

}


@media screen and (min-width:1000px){
  .voice{
    position: absolute;
    top:11.2rem;
    right:29rem;
  }
  .cloesicon{
    position: absolute;
    right:28.5rem;
    top:11.2rem;
  }
  .reloadicon{
    position: absolute;
    right:26rem;
    top:11.2rem;
  }
  .voiceicons{
    position: relative;
    left:32rem;
    top:1rem;
   color: #DEF1f2 ;

  }
}

/* .cloesicon{
  position: absolute;
  right:28.5rem;
  top:11.2rem;
}

.reloadicon{
  position: absolute;
  right:26rem;
  top:11.2rem;
} */


.contact:hover {
  box-shadow: 10px 10px #DEF1f2;

}
