<app-app-header></app-app-header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap" rel="stylesheet">

<!-- <h3>Works</h3> -->

<div *ngIf="contact.length==0">
    <h5 style="margin-top:40%; text-align: center; color:#B9FFFC;">No Contacts Found :( Please Create Some Contacts</h5>
</div>




<div class="container searchbar" style="margin-top: 10.5rem;" *ngIf="notFound">
  <input type="search" class="form-control" [(ngModel)]="searchText" placeholder="Search Contact" style=" font-family: 'Quicksand', sans-serif; font-size : 20px; letter-spacing: 0.3px; text-align: center; border-radius:25px;" name="searchbox" >
  <img src="../../assets/img/mic.png" class="voice" width="25" *ngIf="voiceActiveSectionDisabled; else voicesection;" (click)="startVoiceRecognition()" height="25" data-toggle="tooltip" title="Speak" alt="">
</div>


<div class="container-fluid contactlist" style="margin-top:6%; position: absolute; top:26%;">
  <ng-container *ngIf="(contact | filter : voiceText || searchText) as result">
  <div class="row" style=" width:99.5%; margin-left: 0.1em; ">
    <div class="container col-md-3" *ngFor="let x of result"><br>
        <div>
            <div class="card-deck">
                <div class="card contact" >
                    <div class="card-body" style="background-color: #B9FFFC;">
                        <h5 class="card-title" style=" font-family: 'Reggae One', cursive; font-size: 28px;" > <span><img src="../../assets/img/man.png" alt="" data-toggle="tooltip" title="{{x.name}}" width="26" height="26"></span>  {{x.name}}</h5>
                        <p class="card-text" style=" font-family: 'Quicksand', sans-serif; font-size : 20px ">  <span><img src="../../assets/img/gmail.png" alt="" data-toggle="tooltip" title="Email " width="16" height="16"></span> &nbsp;&nbsp; {{x.email}} </p>
                        <p class="card-text" style=" font-family: 'Quicksand', sans-serif; font-size: 22px;"> <span><img src="../../assets/img/phone.png" alt="" data-toggle="tooltip" title="Mobile " width="16" height="16"></span> &nbsp;&nbsp; {{x.mobile}} </p>
                        <p class="card-text" style=" font-family: 'Quicksand', sans-serif;"><span><img src="../../assets/img/google-maps.png" data-toggle="tooltip" title="Location" alt="" width="16" height="16"></span> &nbsp;&nbsp;&nbsp; {{x.country}} </p>

                        <img src="../../assets/img/trash-bin.png" width="22" height="22" data-toggle="modal" data-target="#delete" style="cursor:pointer;" alt="" title="Delete Contact" (click)="delete(x.id)" >
                        <!-- (click)="showDelete(delete) -->
                        &nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/edit.png" width="22" height="22" alt="" data-toggle="tooltip" style="cursor:pointer;" title="Edit Contact" (click)="getContact(x.id)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="result.length === 0" style="color:#B9FFFC; text-align: center;">
  <h6 style="text-align : center; margin-top: 30px; font-family: 'Baloo 2', cursive; font-size: 25px;"> No Contacts Found :( </h6>

 </div>
</ng-container>
</div>


<!-- <div class="container" style="margin-top: 10.5%; border:1px solid red;"> -->
  <!-- <input type="search" class="form-control" [(ngModel)]="searchText" placeholder="Search Contact" style=" font-family: 'Quicksand', sans-serif; font-size : 20px; letter-spacing: 1.2px; text-align: center; border-radius:25px;" name="searchbox" >
  <img src="../../assets/img/mic.png" style=" position: absolute; right:28rem; top:11.1rem;" width="25" *ngIf="voiceActiveSectionDisabled; else voicesection;" (click)="startVoiceRecognition()" height="25" data-toggle="tooltip" title="Speak" alt=""> -->

  <!-- <div *ngIf="voiceActiveSectionDisabled; else voicesection;"> -->
    <!-- <button type="button" class="btn btn-dark" (click)="startVoiceRecognition()">Record</button> -->
  <!-- </div> -->
  <ng-template #voicesection>
    <ng-container
      *ngIf="!voiceActiveSectionError; else failure">
      <ng-container
        *ngIf="voiceText; else start">
          <span class="voiceicons" >{{voiceText}}</span>
      </ng-container>
      <ng-template #start>
        <ng-container
          *ngIf="voiceActiveSectionListening; else beginning">
          <span class="voiceicons">Listening ....</span>
        </ng-container>
        <ng-template #beginning>
          <span class="voiceicons">Start talking...</span>
        </ng-template>
      </ng-template>
    </ng-container>
    <ng-template #failure>
      <span>Didn't catch that</span>
    </ng-template>
    <div>
      <!-- style="position: absolute; right:24rem; top:11.2rem;"  -->
      <span (click)="closeVoiceRecognition()">
        <img src="../../assets/img/cancel.png" class="cloesicon" width="23" height="23" alt="">
      </span>
      <!-- style="position: absolute; right:22rem; top:11.2rem;" -->
      <span (click)="startVoiceRecognition()">
        <img src="../../assets/img/reload.png" class="reloadicon" width="24" height="24" alt="">
      </span>

    </div>
  </ng-template>

<!-- </div> -->


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal" [class.show]="show" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModal">Confirm Delete</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body">
				<p>Do you want to delete Contact ?</p>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" (click)="confirmDelete()">Yes</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" >No</button>
			</div>
		</div>
	</div>
</div>
