 <!-- <router-outlet></router-outlet> -->

<!-- <h3>App Component Works !</h3> -->
<!-- <button (click)="getContact()">GET ALL CONTACT</button> -->

<!-- {{msg}}
<ul>
  <li *ngFor= "let tact of contact">
    {{tact.name}}
  </li>
</ul>

<h1>{{msg2}}</h1>


<form [formGroup]="addContactForm"  style="margin-top: 400px;">
    <input type="text" formControlName="name" placeholder="Enter Name"><br>
    <span *ngIf=" submitted && f.name.errors">Invalid Name</span>
    <input type="email" formControlName="email" placeholder="Enter Email"><br>
    <input type="number" formControlName="mobile" placeholder="Enter Mobile No." ><br>
    <input type="text" formControlName="address" placeholder="Enter Address"><br>
    <input type="submit" value="Add Contact">
</form>


<p>Check</p>
<ul>
  <li *ngFor="let new of newContact">{{new.name}}</li>
</ul>

<button (click)="deleteContact()">Delete</button> -->

<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->


<router-outlet></router-outlet>
